<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Home Page</title>
		<link rel="stylesheet" href="./stylesheets/style.css">
		<script src="./javascripts/vue.js"></script>
	</head>

	<body>
		<header>
			<h1>Sample online store</h1>
		</header>

		<div id="main">
			<!-- Get the list of products from the database -->
			<form action="/product_list">
				<button>Product List</button>
			</form>
		</div>

		<footer>
			<section>
				Sample about section
			</section>
		</footer>
	</body>

</html>